# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code (caso use às vezes)
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build
*.class

# H2 database (se usar local)
*.mv.db
*.trace.db
